@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: Hind;
  font-display: swap;
  src: url("../fonts/Hind-Bold.woff2") format("woff2"), url("../fonts/Hind-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Hind;
  font-display: swap;
  src: url("../fonts/Hind-Light.woff2") format("woff2"), url("../fonts/Hind-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Hind;
  font-display: swap;
  src: url("../fonts/Hind-Regular.woff2") format("woff2"), url("../fonts/Hind-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Hind;
  font-display: swap;
  src: url("../fonts/Hind-Medium.woff2") format("woff2"), url("../fonts/Hind-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Hind;
  font-display: swap;
  src: url("../fonts/Hind-SemiBold.woff2") format("woff2"), url("../fonts/Hind-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
  --first-color: #3E4145;
  --second-color: #FFFFFF;
  --third-color: #1ABCD2;
  --fourth-color: #969C8F;
  --fifth-color: #FAFAFA;
  --sixth-color: #51556E;
}

/*--------------------*/

:root {
  --max-width: 1900px;
}

body {
  height: auto;
}

/* Header */

.header {
  z-index: 1111;
  position: sticky;
  top: 0;
  background-color: var(--first-color);
  height: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #67676B;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: var(--max-width);
  height: 100%;
  padding: 0 241px 0 230px;
  z-index: 1111;
}

.header__menu-btn {
  display: none;
}

.header__menu-btn + label {
  display: none;
}

.header__menu-btn + label::before {
  content: url("../img/bars-solid.svg");
  display: block;
  width: 30px;
  height: 30px;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header__menu-btn:checked + label::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__menu-btn:checked + label ~ .header-menu {
  top: 122px;
}

.header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__item {
  margin-right: 50px;
}

.header-menu__item:last-child {
  margin: 0;
}

.header-menu__link {
  display: block;
  font-family: Hind;
  font-weight: 900;
  font-size: 16px;
  color: var(--second-color);
  text-transform: uppercase;
  position: relative;
}

.header-menu__link::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: -20px;
  width: 12px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--third-color);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  opacity: 0;
}

.header-menu__link:hover::before {
  opacity: 1;
}

.header-menu__link:focus {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

/* Intrp block */

.intro-block {
  overflow: hidden;
  position: relative;
}

.intro-block__carousel-btn {
  margin: 10px;
  display: none;
}

.intro-block__carousel-btn + label {
  display: inline-block;
  position: absolute;
  left: 13vw;
  bottom: 5%;
  z-index: 1;
}

.intro-block__carousel-btn + label::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  outline: 1px solid var(--second-color);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.intro-block__carousel-btn:checked + label::before {
  background-color: var(--second-color);
}

.intro-block__carousel-btn:focus + label::before {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.intro-block__carousel-btn:hover + label::before {
  background-color: var(--second-color);
}

.intro-block__carousel-btn_2 + label {
  margin: 0 0 0 20px;
}

.intro-block__carousel-btn_2:checked + label ~ .slider {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
  height: calc(100vh - 122px);
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.slide {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
}

.no-webp .slide_1{
  background: url("../img/1920x1080/01.jpg") center/cover no-repeat; }

.no-webp .slide_2{
  background: url("../img/1920x1080/02.jpg") center/cover no-repeat; }

.slide__preview {
  width: 75%;
  height: 44%;
}

.slide__title {
  font-family: Hind;
  font-weight: 900;
  font-size: 98px;
  text-transform: uppercase;
  color: var(--second-color);
}

.slide__desc {
  width: 40%;
  font-family: Hind;
  font-weight: 500;
  font-size: 20px;
  color: var(--fourth-color);
  margin: 35px 0 0 0;
}

.slide__btn {
  margin: 55px 0 0 0;
}

.explore-btn {
  width: 143px;
  height: 60px;
  background-color: transparent;
  outline: 1px solid #67676B;
  color: var(--second-color);
  font-family: Hind;
  font-weight: 900;
  font-size: 20px;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.explore-btn:hover {
  color: #030507;
  background-color: var(--second-color);
}

.explore-btn:focus {
  background-color: var(--second-color);
  color: #030507;
}

/* Advantages block */

.advantages-block {
  background-color: var(--fifth-color);
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 50px 100px 50px;
  position: relative;
}

.advantages-block__btn {
  display: none;
}

.advantages-block__btn + label::before {
  content: "";
  display: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: transparent;
  outline: 2px solid var(--first-color);
  position: absolute;
  bottom: 10%;
  left: calc(50% - 70px);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.advantages-block__btn:hover + label::before {
  background-color: var(--first-color);
}

.advantages-block__btn:checked + label::before {
  background-color: var(--first-color);
}

.advantage-cards-container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantage-card {
  background-color: var(--second-color);
  width: 400px;
  height: 350px;
  padding: 50px;
  outline: 2px solid var(--fifth-color);
}

.advantage-card * {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.advantage-card__img {
  display: block;
  font-size: 40px;
  color: #67676B;
}

.advantage-card__title {
  font-family: Hind;
  font-weight: 900;
  font-size: 25px;
  color: var(--sixth-color);
  margin: 30px 0 0 0;
}

.advantage-card__desc {
  font-family: Hind;
  font-weight: 500;
  font-size: 16px;
  color: var(--fourth-color);
  line-height: 1.4;
  margin: 20px 0 0 0;
}

.advantage-card:hover > .advantage-card__img,
.advantage-card:hover > .advantage-card__title,
.advantage-card:hover > .advantage-card__desc {
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
}

.advantage-card:hover > .advantage-card__img {
  opacity: 0;
}

/* Latest products block */

.latest-products-block {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest-products-block__body {
  width: 100%;
  height: 100%;
  padding: 100px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: var(--max-width);
}

.latest-products-block__desc-container {
  width: 40%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.latest-products-block__title {
  font-family: Hind;
  font-weight: 900;
  font-size: 40px;
  color: var(--sixth-color);
}

.latest-products-block__desc {
  font-family: Hind;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: var(--fourth-color);
  margin: 20px 0 0 0;
}

.info-cards-container {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 0 0;
}

.info-card {
  width: 400px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 0 0 10px;
}

.info-card:first-child {
  margin: 0;
}

.info-card__img {
  width: 100%;
}

.info-card__title {
  display: inline-block;
  font-family: Hind;
  font-weight: 900;
  font-size: 25px;
  margin: 20px 0 0 0;
}

.info-card__title a {
  color: var(--sixth-color);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.info-card__title a:hover {
  opacity: 0.5;
}

.info-card__title-desc {
  font-family: Hind;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--fourth-color);
  opacity: 0.8;
  margin: 0 0 0 20px;
}

.info-card__desc {
  font-family: Hind;
  font-weight: 500;
  font-size: 16px;
  color: var(--fourth-color);
  margin: 20px 0 0 0;
  line-height: 1.4;
}

.info-card__link {
  display: inline-block;
  font-family: Hind;
  font-weight: 900;
  font-size: 16px;
  color: #848FA9;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  position: relative;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.info-card__link::after {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  right: -15px;
  width: 10px;
  height: 3px;
  border-radius: 1.5px;
  background-color: var(--third-color);
}

.info-card__link:hover {
  opacity: 0.5;
}

/* Clients block */

.clients-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--fifth-color);
  height: 250px;
}

.clients {
  width: 85%;
  max-width: var(--max-width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__img {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.clients__img:hover {
  opacity: 0.5;
}

/* Reviews block */

.reviews-block {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-block__body {
  width: 100%;
  height: 100%;
  padding: 100px 150px;
  max-width: var(--max-width);
}

.reviews-block__title {
  font-family: Hind;
  font-weight: 900;
  font-size: 40px;
  color: var(--sixth-color);
}

.reviews-slider-container {
  width: 70%;
  overflow: hidden;
}

.reviews-slider {
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: reviews-slider;
          animation-name: reviews-slider;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.review {
  width: 33.3333333333%;
  margin: 30px 0 0 30px;
  position: relative;
}

.review::before {
  content: "";
  display: block;
  position: absolute;
  left: -25px;
  width: 15px;
  height: 15px;
  border-top: 5px solid var(--third-color);
  border-bottom: 5px solid var(--third-color);
  -webkit-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
          transform: rotate(-70deg);
  -webkit-clip-path: polygon(20% 0, 68% 0, 100% 100%, 0 99%, 0 59%);
          clip-path: polygon(20% 0, 68% 0, 100% 100%, 0 99%, 0 59%);
}

.review__quote {
  width: 100%;
}

.review__desc {
  width: 100%;
  font-family: Hind;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: var(--fourth-color);
  margin: 20px 0 0 0;
}

.review__desc:first-child {
  margin: 0;
}

.review__author {
  font-family: Hind;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.2;
  color: var(--sixth-color);
  margin: 15px 0 0 0;
}

.review__author_job {
  font-weight: 500;
  color: var(--fourth-color);
}

@-webkit-keyframes reviews-slider {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  20% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  40% {
    -webkit-transform: translateX(-33.3333333333%);
            transform: translateX(-33.3333333333%);
  }

  60% {
    -webkit-transform: translateX(-33.3333333333%);
            transform: translateX(-33.3333333333%);
  }

  80% {
    -webkit-transform: translateX(-66.6666666667%);
            transform: translateX(-66.6666666667%);
  }

  100% {
    -webkit-transform: translateX(-66.6666666667%);
            transform: translateX(-66.6666666667%);
  }
}

@keyframes reviews-slider {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  20% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  40% {
    -webkit-transform: translateX(-33.3333333333%);
            transform: translateX(-33.3333333333%);
  }

  60% {
    -webkit-transform: translateX(-33.3333333333%);
            transform: translateX(-33.3333333333%);
  }

  80% {
    -webkit-transform: translateX(-66.6666666667%);
            transform: translateX(-66.6666666667%);
  }

  100% {
    -webkit-transform: translateX(-66.6666666667%);
            transform: translateX(-66.6666666667%);
  }
}

/* Subscriptions block */

.subscriptions-block {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--fifth-color);
}

.subscriptions-block__body {
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscriptions-slider-container {
  width: 65%;
  position: relative;
}

.subscriptions-slider-container__btn {
  display: none;
}

.subscriptions-slider-container__btn + label::before {
  content: "";
  display: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: transparent;
  outline: 2px solid var(--first-color);
  position: absolute;
  bottom: 3px;
  left: calc(50% - 30px);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.subscriptions-slider-container__btn:hover + label::before {
  background-color: var(--first-color);
}

.subscriptions-slider-container__btn:checked + label::before {
  background-color: var(--first-color);
}

.subscriptions-slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription-card {
  width: 33%;
  max-width: 400px;
  height: 50%;
  background-color: var(--second-color);
  padding: 70px 50px;
}

.subscription-card:nth-child(2) {
  height: 55%;
  padding: 120px 50px;
}

.subscription-card__img {
  display: block;
  font-size: 40px;
  color: #67676B;
}

.subscription-card__title {
  font-family: Hind;
  font-weight: 900;
  font-size: 25px;
  color: var(--sixth-color);
  margin: 40px 0 0 0;
}

.subscription-card__title_currency {
  font-weight: 500;
  font-size: 20px;
  color: var(--fourth-color);
}

.subscription-card__desc {
  font-family: Hind;
  font-weight: 500;
  font-size: 16px;
  color: var(--fourth-color);
  line-height: 1.3;
  margin: 20px 0 0 0;
}

.subscription-card__advantages {
  width: 100%;
  line-height: 2;
  margin: 30px 0 0 0;
}

.subscription-card__item {
  font-family: Hind;
  font-weight: 500;
  font-size: 14px;
  color: #67676B;
  margin: 0 0 0 10px;
}

.subscription-card__item::before {
  content: "";
  display: inline-block;
  position: relative;
  top: -2px;
  left: -10px;
  width: 12px;
  height: 4px;
  background-color: var(--third-color);
  border-radius: 2px;
}

.subscription-card__btn {
  margin: 40px 0 0 0;
}

.choose-btn {
  width: 120px;
  height: 50px;
  font-family: Hind;
  font-weight: 700;
  font-size: 14px;
  color: var(--sixth-color);
  background-color: #F3F4F6;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.choose-btn:hover {
  background-color: var(--third-color);
  color: var(--second-color);
}

/* Our-clients block */

.our-clients-block {
  width: 100%;
  height: auto;
  background-color: var(--second-color);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-clients-block__body {
  width: 100%;
  max-width: var(--max-width);
}

.our-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-clients__desc-container {
  width: 50%;
  padding: 100px 50px 100px 200px;
}

.our-clients__title {
  font-family: Hind;
  font-weight: 900;
  font-size: 40px;
  color: var(--sixth-color);
}

.our-clients__desc {
  font-family: Hind;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: var(--fourth-color);
  margin: 20px 0 0 0;
}

.no-webp .our-clients__img{
  background: url("../img/970x970/01.jpg") no-repeat top; }

.our-clients__img {
  width: 50%;
  -webkit-box-shadow: -5px 0 60px 0 var(--sixth-color);
          box-shadow: -5px 0 60px 0 var(--sixth-color);
}

/* Showcase block */

.showcase-block {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--fifth-color);
}

.showcase-block__body {
  width: 100%;
  height: 100%;
  padding: 150px 150px;
  max-width: var(--max-width);
}

.showcase-block__desc-container {
  width: 50%;
}

.showcase-block__title {
  font-family: Hind;
  font-weight: 900;
  font-size: 40px;
  color: var(--sixth-color);
}

.showcase-block__desc {
  font-family: Hind;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: var(--fourth-color);
  margin: 20px 0 0 0;
}

.showcase-img-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
  grid-template-columns: repeat(3, auto);
  -ms-grid-rows: (auto)[2];
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 50px 0 0 0;
}

.showcase-img-container__img_1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.showcase-img-container__img_2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.showcase-img-container__img_3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.showcase-img-container__img_4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.showcase-img-container__img_5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.showcase-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.showcase-img:hover .showcase-img__title,
.showcase-img:hover .showcase-img__desc {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.showcase-img__img {
  width: 100%;
  height: 100%;
}

.showcase-img__desc-container {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 0 20px 50px;
  background-color: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.showcase-img__desc-container:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.showcase-img__title {
  font-family: Hind;
  font-weight: 900;
  font-size: 25px;
  color: var(--second-color);
  -webkit-transform: translateY(35px);
      -ms-transform: translateY(35px);
          transform: translateY(35px);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.showcase-img__desc {
  font-family: Hind;
  font-weight: 500;
  font-size: 16px;
  color: var(--second-color);
  margin: 10px 0 0 0;
  -webkit-transform: translateY(35px);
      -ms-transform: translateY(35px);
          transform: translateY(35px);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* Footer */

.no-webp .footer{
  background: url("../img/1920x1080/03.jpg") no-repeat center/cover; }

.footer {
  width: 100%;
  height: calc(100vh - 122px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.footer__body {
  width: 100%;
  max-width: var(--max-width);
  padding: 50px 241px 0 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer__form-btn {
  display: none;
}

.footer__form-btn + label::before {
  content: "Send Us a Note";
  display: none;
  position: absolute;
  background-color: var(--third-color);
  font-family: Hind;
  font-weight: 900;
  font-size: 16px;
  color: var(--second-color);
  padding: 10px;
  bottom: 10px;
  left: calc(50% - 65px);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer__form-btn + label::before:hover {
  background-color: #1FE0F9;
}

.footer__form-btn:checked + label::before {
  color: var(--fourth-color);
  background-color: transparent;
  outline: 1px solid var(--fourth-color);
}

.footer__form-btn:checked + label ~ .footer-form {
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
}

.footer__form-btn:checked + label ~ .footer-links {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.footer-links {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu {
  width: 50%;
}

.footer-menu ul {
  line-height: 2.5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-menu__link {
  font-family: Hind;
  font-weight: 500;
  font-size: 18px;
  color: var(--fourth-color);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer-menu__link:hover {
  color: var(--second-color);
  opacity: 0.8;
}

.footer-socials {
  width: 50%;
}

.footer-socials ul {
  line-height: 2.5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-socials__link {
  font-family: Hind;
  font-weight: 500;
  font-size: 18px;
  color: var(--fourth-color);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer-socials__link:hover {
  color: var(--second-color);
  opacity: 0.8;
}

.footer-form {
  width: 50%;
}

.footer-form__title {
  font-family: Hind;
  font-weight: 900;
  font-size: 40px;
  color: var(--second-color);
}

.footer-form__input {
  display: block;
  width: 80%;
  padding: 15px;
  font-family: Hind;
  font-weight: 500;
  font-size: 18px;
  color: var(--fourth-color);
  background-color: rgba(0, 0, 0, 0.2);
  margin: 20px 0 0 0;
}

.footer-form__message {
  width: 80%;
  height: 30%;
  margin: 20px 0 0 0;
  padding: 15px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
  color: var(--fourth-color);
  background-color: rgba(0, 0, 0, 0.2);
  resize: none;
}

.footer-form__submit {
  display: block;
  margin: 30px 0 0 0;
  width: 20%;
  height: 60px;
  font-family: Hind;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--second-color);
  background-color: var(--third-color);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer-form__submit:hover {
  background-color: #1FE0F9;
}

.footer-bottom {
  width: 100%;
  height: 15%;
  border-top: 2px solid #67676B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-bottom__body {
  width: 100%;
  max-width: var(--max-width);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 241px 0 230px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__author {
  font-family: Hind;
  font-weight: 500;
  font-size: 18px;
  color: var(--fourth-color);
  margin: 0 0 0 10px;
}

.footer-bottom__author_color {
  font-weight: 900;
  color: var(--third-color);
}

.topbtn {
  width: 50px;
  height: 50px;
  background-color: #000000;
  position: fixed;
  right: 30px;
  bottom: 20px;
  opacity: 0.5;
  z-index: 1111;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.topbtn__desc {
  height: 100%;
  width: 100%;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  color: var(--second-color);
  text-transform: uppercase;
  font-family: Hind;
  font-weight: 900;
  font-size: 18px;
}

.topbtn:hover {
  opacity: 0.8;
}

@media all and (max-width: 1200px) {
  .header__body {
    padding: 0 100px 0 100px;
  }

  .latest-products-block__desc-container {
    width: 100%;
  }

  .info-cards-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .info-card {
    margin: 10px 0 0 0;
  }

  .clients-block {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 50px 0 50px 0;
  }

  .clients {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .subscriptions-slider-container {
    width: 85%;
    height: 700px;
    overflow: hidden;
  }

  .our-clients__desc-container {
    padding: 100px 50px 100px 50px;
  }

  .showcase-block__desc-container {
    width: 100%;
  }

  .footer__body {
    padding: 50px 100px 0 100px;
  }

  .footer-form__submit {
    font-size: 16px;
  }

  .footer-bottom__body {
    padding: 0 100px 0 100px;
  }
}

@media all and (max-width: 950px) {
  .header__menu-btn + label {
    display: block;
  }

  .header-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-menu__item {
    margin: 0;
  }

  .header-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: var(--first-color);
    position: absolute;
    right: 0;
    top: -201px;
    padding: 20px 0 20px 0;
    outline: 1px solid var(--fourth-color);
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }

  .slide__title {
    font-size: 80px;
  }
}

@media all and (max-width: 900px) {
  .slide {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 50px 0 0 0;
  }

  .advantages-block {
    padding: 50px 0px 50px 0px;
    overflow: hidden;
  }

  .advantages-block__btn + label::before {
    display: block;
  }

  #advantages-block__radio2:checked + label ~ .advantage-cards-container {
    -webkit-transform: translateX(-700px);
        -ms-transform: translateX(-700px);
            transform: translateX(-700px);
  }

  #advantages-block__radio3:checked + label ~ .advantage-cards-container {
    -webkit-transform: translateX(-1400px);
        -ms-transform: translateX(-1400px);
            transform: translateX(-1400px);
  }

  #advantages-block__radio4:checked + label ~ .advantage-cards-container {
    -webkit-transform: translateX(-2100px);
        -ms-transform: translateX(-2100px);
            transform: translateX(-2100px);
  }

  #advantages-block__radio5:checked + label ~ .advantage-cards-container {
    -webkit-transform: translateX(-2800px);
        -ms-transform: translateX(-2800px);
            transform: translateX(-2800px);
  }

  #advantages-block__radio6:checked + label ~ .advantage-cards-container {
    -webkit-transform: translateX(-3500px);
        -ms-transform: translateX(-3500px);
            transform: translateX(-3500px);
  }

  #advantages-block__radio2 + label::before {
    margin-left: 20px;
  }

  #advantages-block__radio3 + label::before {
    margin-left: 40px;
  }

  #advantages-block__radio4 + label::before {
    margin-left: 60px;
  }

  #advantages-block__radio5 + label::before {
    margin-left: 80px;
  }

  #advantages-block__radio6 + label::before {
    margin-left: 100px;
  }

  .advantage-cards-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 400px;
    height: 400px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .advantage-cards-container__card {
    position: absolute;
  }

  .advantage-cards-container__card_2 {
    right: -700px;
  }

  .advantage-cards-container__card_3 {
    right: -1400px;
  }

  .advantage-cards-container__card_4 {
    right: -2100px;
  }

  .advantage-cards-container__card_5 {
    right: -2800px;
  }

  .advantage-cards-container__card_6 {
    right: -3500px;
  }

  .latest-products-block__body {
    padding: 50px;
  }

  .reviews-block__body {
    padding: 50px;
  }

  .reviews-slider-container {
    width: 100%;
  }

  .subscriptions-block__body {
    padding: 25px 0;
  }

  .subscriptions-slider-container {
    width: 400px;
    height: 600px;
    overflow: hidden;
  }

  .subscriptions-slider-container__btn + label::before {
    display: block;
  }

  #subscriptions-slider-container__btn2:checked + label ~ .subscriptions-slider {
    -webkit-transform: translateX(-33.3333333333%);
        -ms-transform: translateX(-33.3333333333%);
            transform: translateX(-33.3333333333%);
  }

  #subscriptions-slider-container__btn3:checked + label ~ .subscriptions-slider {
    -webkit-transform: translateX(-66.6666666667%);
        -ms-transform: translateX(-66.6666666667%);
            transform: translateX(-66.6666666667%);
  }

  #subscriptions-slider-container__btn2 + label::before {
    margin-left: 20px;
  }

  #subscriptions-slider-container__btn3 + label::before {
    margin-left: 40px;
  }

  .subscriptions-slider {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 300%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .subscription-card {
    width: 33.3333333333%;
  }

  .subscription-card:nth-child(2) {
    height: 50%;
    padding: 70px 50px;
  }

  .showcase-block__body {
    padding: 50px;
  }

  .footer-form__title {
    font-size: 30px;
  }

  .footer-form__input {
    font-size: 16px;
    height: 15%;
  }

  .footer-form__message {
    font-size: 16px;
    height: 20%;
  }

  .footer-form__submit {
    font-size: 14px;
    width: 30%;
    height: 40px;
  }
}

@media all and (max-width: 600px) {
  .header__body {
    padding: 0 30px 0 30px;
  }

  .slide__title {
    font-size: 50px;
  }

  .slide__desc {
    font-size: 16px;
  }

  .advantage-cards-container {
    width: 300px;
  }

  .advantage-card {
    width: 300px;
  }

  .advantage-card__title {
    font-size: 20px;
  }

  .advantage-card__desc {
    font-size: 15px;
  }

  .latest-products-block__title {
    font-size: 30px;
  }

  .latest-products-block__desc {
    font-size: 16px;
  }

  .info-card__desc {
    font-size: 15px;
  }

  .reviews-block__title {
    font-size: 30px;
  }

  .review__desc {
    font-size: 15px;
  }

  .subscriptions-slider-container {
    width: 300px;
  }

  .subscription-card {
    width: 300px;
  }

  .subscription-card__title {
    font-size: 20px;
  }

  .subscription-card__desc {
    font-size: 15px;
  }

  .our-clients {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .our-clients__desc-container {
    width: 100%;
  }

  .our-clients__title {
    font-size: 30px;
  }

  .our-clients__desc {
    font-size: 16px;
  }

  .our-clients__img {
    width: 100%;
    height: 400px;
    -webkit-box-shadow: 0 -5px 60px 0 var(--sixth-color);
            box-shadow: 0 -5px 60px 0 var(--sixth-color);
  }

  .showcase-block__title {
    font-size: 30px;
  }

  .showcase-block__desc {
    font-size: 16px;
  }

  .showcase-img-container {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
    -ms-grid-rows: (auto)[4];
    grid-template-rows: repeat(4, auto);
  }

  .showcase-img-container__img_1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }

  .showcase-img-container__img_2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }

  .showcase-img-container__img_3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }

  .showcase-img-container__img_4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }

  .showcase-img-container__img_5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }

  .showcase-img__desc-container {
    padding: 0 20px 20px 20px;
  }

  .showcase-img__title {
    font-size: 15px;
  }

  .showcase-img__desc {
    display: none;
  }

  .footer__body {
    padding: 50px 30px 0 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90%;
  }

  .footer__form-btn + label::before {
    display: block;
  }

  .footer-links {
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .footer-form {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 20px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .footer-bottom {
    height: 100px;
  }

  .footer-bottom__body {
    padding: 0 80px 0 30px;
  }

  .footer-bottom__author {
    font-size: 16px;
  }
}

@media all and (max-height: 600px) {
  .slider {
    height: 600px;
  }
}

@media all and (max-height: 650px) {
  .footer {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }

  .footer-bottom__body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.webp .slide_1{ background: url(../img/1920x1080/01.webp) center/cover no-repeat; }

.webp .slide_2{ background: url(../img/1920x1080/02.webp) center/cover no-repeat; }

.webp .our-clients__img{ background: url(../img/970x970/01.webp) no-repeat top; }

.webp .footer{ background: url(../img/1920x1080/03.webp) no-repeat center/cover; }